<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>

  
    <h1>TODO APP</h1>
    <hr>
    <form action="/todo" method="post">
       
    <label for="title">Title</label> <input type="text" name="title" for="title" id="title"> 
    <label for="description">description</label> <input type="text" name="description" for="description" id="description"> 
     <button>ADD </button>
    </form>

   
       
    <% if(todos.length > 0) { %>
        <% todos.forEach(todo => { %>
            <a class="single" href="/todo/<%= todo._id %>" >
            <h3 class="title"><%= todo.title %> </h3>
            <p class="description"><%= todo.description %> </p>
            <p>Time <%= todo.createdAt %> </p>
            <a class="delete" data-doc="<%= todo._id %> ">delete</a>
            </a>
            <hr>

       <% }) %>
        
  <%  } else { %>
    <h2> No Todos </h2>
 <% }%> 

 <script>
    const trash = document.querySelector('a.delete');

    trash.addEventListener('click', (e)=>{
        const end = `/todo/${trash.dataset.doc}`;

        fetch(end, {
            method: 'DELETE'
        }).then( (response) => response.json())
        .then((data) => window.location.href = data.redirect)
        .catch(err => {
            console.log(err)
        })
    })
 </script>
       
    
</body>
</html>
